@font-face {
    font-family: w800;
    src: url('../fonts/PlusJakartaSans-ExtraBold.ttf');
}

@font-face {
    font-family: w700;
    src: url('../fonts/PlusJakartaSans-Bold.ttf');
}

@font-face {
    font-family: w600;
    src: url('../fonts/PlusJakartaSans-SemiBold.ttf');
}

@font-face {
    font-family: w500;
    src: url('../fonts/PlusJakartaSans-Medium.ttf');
}

@font-face {
    font-family: w400;
    src: url('../fonts/PlusJakartaSans-Regular.ttf');
}

@font-face {
    font-family: w300;
    src: url('../fonts/PlusJakartaSans-Light.ttf');
}