@font-face {
  font-family: w800;
  src: url("../fonts/PlusJakartaSans-ExtraBold.ttf");
}
@font-face {
  font-family: w700;
  src: url("../fonts/PlusJakartaSans-Bold.ttf");
}
@font-face {
  font-family: w600;
  src: url("../fonts/PlusJakartaSans-SemiBold.ttf");
}
@font-face {
  font-family: w500;
  src: url("../fonts/PlusJakartaSans-Medium.ttf");
}
@font-face {
  font-family: w400;
  src: url("../fonts/PlusJakartaSans-Regular.ttf");
}
@font-face {
  font-family: w300;
  src: url("../fonts/PlusJakartaSans-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #ff553c;
  --white-color: #fff;
  --text-color: #747474;
}

.announcementbar {
  background: var(--primaryColor);
  color: var(--white-color);
}
.announcementbar p {
  font-family: w800;
  font-size: 14.5px;
  font-weight: 800;
  line-height: 18.27px;
  text-align: center;
  padding: 10px 0 10px 0;
}

.menu {
  border-bottom: 1px solid #C5C5C5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33px 0 17px;
}
.menu nav {
  margin-left: 80px;
}
.menu nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.menu nav ul li {
  margin-right: 39px;
}
.menu nav ul li a {
  text-decoration: none;
  font-family: w600;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.64px;
  text-align: left;
}
.menu nav ul li button {
  font-family: w600;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.64px;
  text-align: left;
  color: #2af0ea;
  background: var(--white-color);
  border: 1px solid #2af0ea;
  border-radius: 9px;
  padding: 13px 0px 13px 9px;
}
.menu nav ul li button svg {
  padding-left: 12px;
  padding-right: 5px;
}
.menu .menu-icon {
  margin-left: 125px;
}

.banner {
  margin: 78px 106px;
  display: flex;
}
.banner .video {
  display: flex;
  align-items: center;
  width: 45%;
  position: relative;
}
.banner .video .img {
  width: 100%;
  height: 315px;
}
.banner .video .video-icons {
  width: 90%;
  position: absolute;
  top: 55px;
  left: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .video .video-icons .dots {
  display: flex;
  align-items: center;
}
.banner .video .video-icons .dots p {
  color: #d8d8d8;
  margin-left: 7px;
}
.banner .banner-text {
  width: 55%;
  margin-left: 85px;
}
.banner .banner-text h1 {
  font-family: w700;
  font-size: 52px;
  font-weight: 700;
  line-height: 65.52px;
  padding: 5px 5px 5px 0;
  text-align: left;
}
.banner .banner-text .p {
  font-family: w400;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-right: 285px;
}
.banner .banner-text .p span {
  color: var(--primaryColor);
}
.banner .banner-text .btn-stars {
  display: flex;
  align-items: center;
  margin-top: 30.47px;
}
.banner .banner-text .btn-stars .btn button {
  font-family: w700;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  background: var(--primaryColor);
  color: var(--white-color);
  border: none;
  padding: 13px 38px;
  border-radius: 10px;
}
.banner .banner-text .btn-stars .btn p {
  font-family: w400;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.86px;
  margin-left: 52px;
}
.banner .banner-text .btn-stars .stars {
  margin-left: 70px;
}
.banner .banner-text .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;
}/*# sourceMappingURL=style.css.map */